<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assamese text annotation</title>
    <link rel="stylesheet" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Assamese&display=swap" rel="stylesheet">

</head>
<body>
    <div id="navBar">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/coreference">Coreference</a></li>
            <li><a href="/about">About</a></li>
          </ul>
    </div>
    <div id="header">
        <h1>Assamese Coreference Annotation</h1>
    </div>
    
    <div id="content">
        <form id="upload-form">
            <input type="file" id="textFile" accept=".txt">
            <button class="button-9" type="submit">Upload</button>
        </form>
        <div id="tags-input">
            <input type="text" id="cluster-name" placeholder="Type Cluster name">
        </div>
        <div id="clusters"></div>
        <div class="final-btn">
            <from>
                <!-- <label for="cars">Choose an Tagging Schemes</label> -->
                <select name="tag_format" id="tag_format">
                    <option value="0">Choose an Coreference Schemes</option>
                    <option value="conill">CoNLL-2012</option>
                    <option value="json">JSON</option>
                    <option value="xml">XML</option>
                </select>
                <button id="save-annotations-btn" class="button-7">Save Coreferences</button>
            </from>
            <button id="download-btn" class="button-7">Download Coreferences</button>
        </div>
        <div id="annotationsContainer"></div>
            <div id="editable-div" contenteditable="true">Upload a file to start...</div>
            <div id="totalSentences"></div>
            <div class="navigator">
                <button id="prevButton">&lt; Previous</button>
                <button id="nextButton">Next &gt;</button>
            </div>
    </div>
    </div>
<script src="crscript.js"></script>
</body>
</html>