<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assamese text annotation</title>
    <link rel="stylesheet" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Assamese&display=swap" rel="stylesheet">

</head>
<body>
    <div id="header">
        <h1>Assamese Text Annotation</h1>
        <p>About this tool.........</p>
    </div>
    
    <div id="content">
        <form id="upload-form">
            <input type="file" id="textFile" accept=".txt">
            <button class="button-9" type="submit">Upload</button>
        </form>

        <div id="tags-input">
            <input type="text" id="tag-name" placeholder="New Tag">
            <button id="addTag">Add Tag</button>
            <button id="removeTag">Untag</button>
        </div>
        <div id="tags"></div>
        <button id="annotate-btn">Annotate Text</button>
        <div id="editable-div" contenteditable="true">
            <!-- content added here -->
        </div>
        <div>
            <button id="save-annotations-btn">Save Annotations</button>
        </div>
    </div>
<script src="script2.js"></script>
</body>
</html>