<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assamese text annotation</title>
    <link rel="stylesheet" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Assamese&display=swap" rel="stylesheet">

</head>
<body>
    <div id="header">
        <h1>Assamese Text Annotation</h1>
        <p>About this tool.........</p>
    </div>
    
    <div id="content">
        <div class="upload">
            <input type="file" id="fileInput" accept=".txt">
            <input class="button-9" type="submit" value="Submit" onclick="uploadFile()">
        </div>

        <div id="tags-input">
            <input type="text" id="tag-name" placeholder="New Tag">
            <button onclick="addTag()">+</button>
            <!-- <button onclick="untagSelectedWord()">Untag Selected Word</button> -->
        </div>
        <div id="tags"></div>

        <div id="editable-div" contenteditable="true">
            <!-- text that to be upload -->
        </div>
        <!-- <button class="button-5" onclick="highlightEntities()">Annotate</button> -->
    </div>
<script src="script.js"></script>
</body>
</html>