<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assamese text annotation</title>
    <link rel="stylesheet" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Assamese&display=swap" rel="stylesheet">

</head>
<body>
    <div id="navBar">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/about">About</a></li>
          </ul>
    </div>
    <div id="header">
        <h1>Assamese Text Annotation</h1>
    </div>
    
    <div id="content">
        <form id="upload-form">
            <input type="file" id="textFile" accept=".txt">
            <button class="button-9" type="submit">Upload</button>
        </form>

        <div id="tags-input">
            <input type="text" id="tag-name" placeholder="Type tag name">
            <button id="addTag" class="button-9">Add Tag</button>
            <button id="removeTag" class="button-9">Untag</button>
        </div>
        <div id="tags"></div>
        <button id="annotate-btn" class="button-18">Annotate Text</button>
        <div class="final-btn">
            <from>
                <!-- <label for="cars">Choose an Tagging Schemes</label> -->
                <select name="tag_format" id="tag_format">
                    <option value="0">Choose an Tagging Schemes</option>
                    <option value="IO">IO</option>
                    <option value="JSON">JSON Annotation</option>
                    <option value="BIO">BIO</option>
                    <option value="BILUO">BILUO</option>
                    <option value="BIL2">BIL2</option>
                </select>
                <button id="save-annotations-btn" class="button-7">Save Annotations</button>
            </from>
            <button id="download-btn" class="button-7">Download Annotations</button>
            </div>
        <div id="editable-div" contenteditable="true">
            <!-- Content here -->
        </div>   
    </div>
<script src="script.js"></script>
</body>
</html>