body{
    padding: 0;
    margin: 0;
}

#navBar ul {
  list-style-type: none;
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: .6rem;
  overflow: hidden;
  background-color: #257180;
}

#navBar li {
  float: left;
}

#navBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2rem;
}

#navBar li a:hover {
  background-color: #111;
}

#header{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
#content{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 5% auto;
    max-width:  90%;
    height: 100vh;
    border-radius: 5px;
}
#upload-form{
    text-align: center;
    padding: 2%;
}

#tags-input input {
  background-color: #eee;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 13em;
  border-radius: 1rem;
  color: lightcoral;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
  margin: .5rem 1rem;
  font-family:Arial, Helvetica, sans-serif;
}

#tags-input input:focus {
  outline-color: lightcoral;
}

#tag-name{
  font-size: 18px;
  padding: 5px;
  max-width: 15%;
}
#tags-input button{
  font-size: 18px;
  padding: 8px;
  margin: 5px;
  cursor: pointer;
}

.tag-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: .5rem 1rem;
  cursor: pointer;
  font-size: 16px;
  font-family:Arial, Helvetica, sans-serif;
}

#editable-div {
  /* font-family: "Noto Sans Assamese", sans-serif; */
  border: 1px solid #ccc;
  padding: .8rem;
  margin: 1rem;
  height: 20rem;
  overflow:scroll;
  text-align: justify;
  line-height: 1.7rem;
}

#addTag{
background-color: rgb(1, 110, 1);
}
#removeTag{
background-color: #c21700;
}

.about{
  margin: 5% auto;
  max-width: 80%;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4rem;
}

.about h1{
  text-align: center;
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.entity-person {
  background-color: lightcoral;
}
.entity-location {
  background-color: lightgreen;
}
.entity-animal{
  background-color: lightsalmon;
}
.entity-date{
  background-color: lightgrey;
}
.entity-river{
  background-color: lightblue;
}
.entity-org{
  background-color: lightyellow;
}


.button-18 {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  margin: .5rem 1rem;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}


/* CSS */
.button-7 {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-7:hover,
.button-7:focus {
  background-color: #07c;
}

.button-7:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-7:active {
  background-color: #0064bd;
  box-shadow: none;
}

.final-btn{
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}  